.top-main-header {
  background-color: #201a1a;
  .left-section-wrapper {
    padding-top: 10px;
    margin-left: -57px;
    ul {
      list-style-type: none;
      li {
        margin-left: 32px;
        a {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: $font-secondary;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          text-decoration-line: none;
          span {
            text-decoration-line: none;
            margin-right: 8px;
          }
          p {
            color: #fff;
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            text-decoration-line: underline;
            margin: 0;
          }
        }
      }
    }
  }
  .right-section-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    ul {
      li {
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}

.button-info-heading {
  .left-side-img-wrapper {
    padding-top: 11px;
    margin-left: -54px;
    img {
      margin-left: 51px;
    }
  }
  .right-side-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 54px;
    ul {
      li {
        padding: 13px 5px;
        display: inline-block;
        padding-left: 28px;
        a {
          color: #62605f;
          font-family: "Be Vietnam Pro";
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
        }
        a:hover {
          color: #da251e;
          font-family: "Be Vietnam Pro";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }
  }
}
