//
.About-Pandey-Dhunga-Suppliers-wrapper {
  margin-bottom: 60px;
  .left-side-wrapper {
    margin-top: 76px;
    h2 {
      color: #201a1a;
      font-family: Nacelle;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 42px;
      span {
        color: #da251e;
        font-family: Nacelle;
        font-size: 36px;
        font-weight: 800;
        line-height: 42px;
      }
    }
    p {
      color: #62605f;
      font-family: "Be Vietnam Pro";
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 32px;
    }
  }
}

// project-complete-wrapper
.project-complete-wrapper {
  margin-bottom: 200px;
  .line {
    position: relative;
    width: 100%;
    height: 1px;
    background: #da251e;
  }
  .line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #62605f;
    top: 3px;
  }
  .main-wrapper {
    margin-top: 48px;
    display: flex;
    .svg-section {
      margin-right: 25px;
      margin-left: 20px;
    }
    .info-sec {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #201a1a;
        font-family: Nacelle;
        font-size: 28px;
        font-weight: 800;
        line-height: 34px;
      }
      p {
        color: #62605f;
        font-family: "Be Vietnam Pro";
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
}

.mission-card-wrapper {
  margin-bottom: 124px;
  .main-card-wrapper {
    height: 385px;
    border: 1px solid rgba(218, 37, 30, 0.3);
    background: #f8f7f7;
    .svg-wrapper {
      margin-top: 36px;
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
    }
    .card-info-wrapper {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        position: relative;
        color: #201a1a;
        font-family: Nacelle;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin: 0px 0px 16px 24px;
      }
      h2::before {
        content: "";
        position: absolute;
        width: 53px;
        height: 8px;
        background: #da251e;
        top: -10px;
        margin: 0px 299px 8px 0px;
      }

      p {
        color: var(--Paragraph, #62605f);
        width: 328px;
        font-family: "Be Vietnam Pro";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0px 24px 32px 24px;
      }
    }
  }
}
