.our-product-section-wrapper {
  background: #fff;
  .header-wrapper-section {
    margin-top: 76px;
    h1 {
      color: #201a1a;
      font-family: Nacelle;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 42px;
      span {
        color: #da251e;
        font-family: Nacelle;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 42px;
      }
    }
    p {
      width: 776px;
      color: #62605f;
      font-family: "Be Vietnam Pro";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .card-wrapper {
    img {
      position: relative;
    }
  }
  .title-wrapper {
    h3 {
      position: absolute;
      text-decoration: none;
      bottom: 10px;
      color: #fff;
      text-align: center;
      font-family: Nacelle;
      font-size: 14px;
      font-weight: 700;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      background: rgba(44, 54, 64, 0.5);
      backdrop-filter: blur(4px);
      width: 295px;
      padding: 8px;
      margin-left: 33px;
    }
  }
  nav {
    margin-bottom: 55px;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul.pagination {
      gap: 16px;
    }
    .page-item-active {
      .page-link {
        z-index: 3;
        color: #fff;
        border: 1px solid #da251e;
        background: #da251e;
      }
    }
  }
  .page-item {
    .page-link {
      border: 1px solid #62605f;
      opacity: 0.3;
      color: #62605f;
      font-family: Nacelle;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

.frequently-asked-question-wrapper {
  .upper-text-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #201a1a;
      font-family: Nacelle;
      font-size: 28px;
      font-weight: 800;
      line-height: 34px;
      margin-bottom: 0px;
      span {
        color: #da251e;
        font-family: Nacelle;
        font-size: 28px;
        font-weight: 800;
        line-height: 34px;
      }
    }
    p {
      width: 776px;
      color: #62605f;
      text-align: center;
      font-family: "Be Vietnam Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
